/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */

html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	font-family: "Epilogue", sans-serif;
	font-size: 18px;
	font-weight: 500;
	overflow-x: hidden;
}

/* Set core body defaults */

body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	list-style-type: none;
	text-decoration: none;
	color: inherit;
}

/* Make images easier to work with */

img,
picture {
	max-width: 100%;
	display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;

		animation-iteration-count: 1 !important;

		transition-duration: 0.01ms !important;

		scroll-behavior: auto !important;
	}
}

/* Root styles  */

:root {
	--almost-white: hsl(0, 0%, 98%);
	--medium-gray: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);
}

/* Header  */

.hamburger-menu {
	background-color: transparent;
	border: 0;
	color: #000;
	font-size: 25px;
	cursor: pointer;
	line-height: 0;
	align-self: flex-end;
}

.hamburger:focus {
	outline: none;
}

.close-menu {
	opacity: 0.7;
	font-size: 30px;
	margin-right: 0.15rem;
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.icon {
	height: 20px;
	width: 20px;
}

.arrow-up {
	display: none;
}

.primary-navigation {
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
	height: 100%;
	width: 60%;
	padding: 1rem;
	transform: translateX(100%);
	transition: transform 0.5s ease-out;
}

.show-nav {
	display: flex;
	transform: translateX(0);
	transition: transform 0.5s ease-in;
}

.nav {
	margin: 1rem 0 0 0.5rem;
}

li {
	margin-top: 0.85rem;
}

li a,
.login a {
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.6);
}

li a:hover {
	color: rgba(0, 0, 0, 0.85);
}

.dropdown li {
	margin-left: 1.2rem;
}

.flex-item {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}

.login {
	display: flex;
	flex-direction: column;
	place-items: center;
	margin-top: 0.75rem;
	gap: 0.35rem;
}

.btn {
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	width: 100%;
	padding: 0.35rem 0;
	text-align: center;
}

.login-btn {
	border: 2px solid transparent;
}

.register:hover {
	background-color: rgba(0, 0, 0, 0.85);
	color: #fff;
}

.login-btn:hover {
	border: 2px solid rgba(0, 0, 0, 0.5);
	background-color: transparent;
}

.dropdown {
	display: none;
}

.hide {
	display: none;
}

.show {
	display: inline-block;
}

.show-arrow {
	display: inline-block;
}

/* Main/hero  */

.section-container {
	text-align: center;
}

.mobile-img {
	margin-inline: auto;
}

.hero-information {
	margin-top: 2rem;
	max-width: 95%;
	margin-inline: auto;
}

.desktop-br {
	display: none;
}

.hero-title {
	font-size: 2.25rem;
	font-weight: 700;
}

.hero-subtitle {
	max-width: 75%;
	margin-inline: auto;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 2rem;
}

.learn-more {
	color: #fff;
	background-color: rgba(0, 0, 0, 1);
	padding: 0.75rem 1.5rem;
	border: 2px solid #000;
}

.learn-more:hover {
	background-color: transparent;
	color: #000;
}

.clients {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(55px, 100%), 1fr));
	place-items: center;
	max-width: 85%;
	margin-inline: auto;
	gap: 1.5rem;
	margin-bottom: 2.5rem;
}

.desktop-img {
	display: none;
}

/* Media Query's  */

/* Tablet & Desktop */

@media only screen and (min-width: 970px) {
	/* Header/nav section  */

	.hamburger-menu {
		display: none;
	}

	.primary-navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: static;
		background-color: transparent;
		width: 100%;
		padding: 0;
		transform: translateX(0%);
		transition: transform 0.5s ease-out;
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 1rem 2rem;
	}

	.nav {
		display: flex;
		flex-direction: row;
		margin: 0;
		gap: 3rem;
		margin-left: 3rem;
	}

	.show {
		position: absolute;
		top: 40px;
		left: -7.5px;
		background-color: #fff;
		height: 125px;
		width: 115px;
		border-radius: 10px;
		box-shadow: 3px 10px 20px -2px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 3px 10px 20px -2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 3px 10px 20px -2px rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.7rem;
	}

	.icon {
		height: 16px;
		width: 16px;
	}

	.dropdown > li > a {
		font-size: 0.8rem;
	}

	.features-dropdown {
		height: 160px;
		width: 150px;
	}

	.company-dropdown {
		left: 180px;
	}

	li,
	.login {
		margin-top: 0;
	}

	.btn {
		padding: 0.35rem 0.7rem;
	}

	.login {
		display: flex;
		flex-direction: row;
		margin-right: 0.5rem;
	}

	/* Hero section  */

	.mobile-img {
		display: none;
	}

	.desktop-img {
		display: block;
	}

	.hero-image {
		order: 2;
	}

	.section-container {
		max-width: 1800px;
		margin-inline: auto;
	}

	.even-columns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 5rem;
		padding: 1rem 2rem;
	}

	.hero-information {
		max-width: 95%;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.desktop-br {
		display: inline-block;
	}

	.hero-title {
		font-size: 3.5rem;
		font-weight: 700;
		line-height: 1;
		margin-top: 2rem;
	}

	.hero-subtitle {
		max-width: 70%;
		margin: 2rem 0 3rem;
	}

	.learn-more {
		padding: 0.75rem 1.75rem;
		max-width: 170px;
	}

	.clients {
		margin-top: 4rem;
		max-width: 90%;
		margin-inline: 0;
		gap: 2rem;
		margin-bottom: 0;
		justify-self: flex-end;
	}
}

@media only screen and (min-width: 1103px) {
	.hero-title {
		font-size: 4rem;
	}

	.hero-subtitle {
		margin-top: 3rem;
	}
	.clients {
		margin-top: 5.5rem;
	}

	.even-columns {
		padding: 0rem 2rem;
	}
}
